# version: "1.0.0"


x-backend: &backend-base
  build:
    context: ./backend
    dockerfile: Dockerfile
  env_file:
    - .env
    - ./backend/.env
  ports:
    - 5007:5007
  restart: on-failure
  depends_on:
    postgres:
      condition: service_healthy
  healthcheck:
    test: ["CMD-SHELL", "nc -z localhost 5007"]
    interval: 5s
    timeout: 5s
    retries: 5
    start_period: 5s

x-contracts: &contracts-base
  build:
    context: ./contracts
    dockerfile: docker/Dockerfile
  env_file:
    - .env
  volumes:
    - contract_info:/shared/
  ports:
    - 8545:8545

x-frontend: &frontend-base
  build:
    context: ./frontend
    dockerfile: Dockerfile
  volumes:
    - contract_info:/app/public/contracts:ro
  env_file:
    - .env
    - ./frontend/.env
  ports:
    - 5173:5173
  restart: on-failure


services:
  backend-dev:
    <<: *backend-base
    profiles:
      - dev
    depends_on:
      contracts-dev:
        condition: service_healthy

  backend-prod:
    <<: *backend-base
    profiles:
      - prod
    depends_on:
      contracts-prod:
        condition: service_completed_successfully

  frontend-dev:
    <<: *frontend-base
    profiles:
      - dev
    depends_on:
      backend-dev:
        condition: service_healthy
      contracts-dev:
        condition: service_healthy

  frontend-prod:
    <<: *frontend-base
    profiles:
      - prod
    depends_on:
      backend-prod:
        condition: service_healthy
      contracts-dev:
        condition: service_completed_successfully

  postgres:
    image: postgres:14.20-trixie
    volumes: 
      - database:/var/lib/postgresql/data
      - ./seed_db:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: school_mgmt
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  contracts-dev:
    <<: *contracts-base
    profiles:
      - dev
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "test -f /shared/.ready"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  contracts-prod:
    <<: *contracts-base
    profiles:
      - prod
    restart: "no" 

volumes:
  database:
  contract_info:
